.rowStyle {
    height: 60px!important;
    margin: 0px!important;
}

.rowStyle:hover {
    background-color: #d0fcfc;
}

.rowParagraph {
    padding: 18px!important;
    margin: 0px!important;
    text-align: left;
}

.rowCol {
    padding: 0px!important;
    width: auto!important;
}

.multiSearchBtn {
    margin-top: 17px!important;
    margin-right: 5px!important;
    width: auto!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    color: black!important;
    background-color: white!important;
    border-color: #E7E3E3!important;
}

.multiSearchBtn:hover {
    background-color: #F5FCFC!important;
}

.plusBtn {
    margin-top: 17px!important;
    width: auto!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    color: black!important;
    background-color: white!important;
    border-color: #E7E3E3!important;
}

.plusBtn:hover {
    background-color: #F5FCFC!important;
}


