.outsideBorder {
    border: 1px solid #E7E3E3;
    border-radius: 4px;
    margin-top: 10px;
}

.formBorder {
    border: 1px solid #E7E3E3;
    border-radius: 2px;
    margin: 10px 15px 10px 15px;
}

.HR {
    margin: 0px;
}

@media screen and (max-width: 1280px) and (min-width: 992px) {
    
}

@media screen and (max-width: 992px) and (min-width: 720px) {
    
}

@media screen and (max-width: 720px) and (min-width: 540px) {
    
}

@media screen and (max-width: 540px) {
    
}